<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>JavaScriptToDo1</title>
     <link rel="stylesheet" href="todo1.css">
     <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="todo1_script.js"></script>
  </head>
  <body>
  <h2 id="message">一週間のToDoﾘｽﾄ</h2>
  <button>月曜日から金曜日講義予定と土曜日,日曜日休日予定</button>

  <div id="form">
    <input id="formText" type="text" size="50">
    <input type="checkbox" class="riyu" value="月">月曜日
    <input type="checkbox" class="riyu" value="火">火曜日
    <input type="checkbox" class="riyu" value="水">水曜日
    <input type="checkbox" class="riyu" value="木">木曜日
    <input type="checkbox" class="riyu" value="金">金曜日
    <input type="checkbox" class="riyu" value="土">土曜日
    <input type="checkbox" class="riyu" value="日">日曜日
    <input id="formButton" type="button" value="ToDo追加">
  </div>
  <div id="list"></div>

     
  </body>
</html>

